<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Astronautica</name>

<description>
Una aplicació on es pot trobar informació relativa als viatges a l'espai, Univers i més coses.
</description>

<author href="https://www.astronautica.tk" email="albertogomezblazquez@gmail.com">
Alberto Gómez
</author>

<icon src="icon.png" />

</widget>
